* {
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

.el-form-item__label {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.popperClass > .el-select-dropdown > .el-vl__wrapper > .el-vl__window.el-select-dropdown__list > div {
  //> li {
  //  all: initial;
  //}
  //
  //display: flex;
  //flex-wrap: wrap;
  //flex-direction: row;
  //gap: 10px;
  //height: 100% !important;
  //
  //> li {
  //  position: initial !important;
  //  display: inline-flex;
  //  align-items: center;
  //  justify-content: center;
  //  width: fit-content !important;
  //  cursor: pointer;
  //}
}
