.tp-table-header-required {
  &::before {
    content: "*";
    color: var(--el-color-danger);
    margin-right: 4px;
  }
}

.demo-form-inline .el-input {
  --el-input-width: 220px;
}

.demo-form-inline .el-select {
  --el-select-width: 220px;
}

.el-table-append-box {
  //position: fixed;
}

.tp-table-cell-bg-red {
  @extend .tp-table-cell-base;
  animation: colorChange 1.2s infinite
}

.tp-table-cell {
  @extend .tp-table-cell-base;
}

.tp-table-cell-base {
  padding: 3px;
  border-radius: 5px;
}

@keyframes colorChange {
  0%, 100% {
    background-color: red;
  }
  50% {
    background-color: white;
  }
}
